.container {
  display: grid;
  grid-template-columns: 100px auto;
  height: 100%;
}
.left_bar {
  border-right: 1px solid grey;
  text-align: end;
  padding-right: 30px;
  height: 100vh;
}
.chat_icon {
  width: 50px;
  margin-top: 30px;
}
.home_icon {
  width: 20px;
  height: auto;
  margin-top: 30px;
}
.notification {
  width: 20px;
  height: auto;
  margin-top: 30px;
}
.settings {
  width: 20px;
  height: auto;
  margin-top: 30px;
}
.logout {
  width: 20px;
  height: auto;
  margin-top: 300px;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(128, 128, 128, 0.863);
  padding: 20px;
}
.user {
  display: flex;
  text-align: center;
  gap: 5px;
}
.user img {
  width: 20px;
  text-align: center;
  margin-top: 20px;
}
.arrow img {
  width: 15px;
  margin-top: 25px;
  text-align: center;
}

.message_section {
  display: grid;
  grid-template-columns: 200px auto;
  height: 84%;
}
.message {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  background-color: rgba(137, 43, 226, 0.219);
  border-bottom: 1px solid gray;
}
.message img {
  width: 20px;
}
.message h4 {
  color: rgb(139, 58, 214);
}
.menu {
  border: 1.5px solid rgba(128, 128, 128, 0.705);
  background-color: rgba(128, 128, 128, 0.13);
}
.link {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  border-bottom: 1px solid gray;
}
.link img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}
.photos {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  border-bottom: 1px solid gray;
}
.photos img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}
.chat-box {
  padding: 10px;
}
.chat {
  display: flex;
  height: 75vh;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(128, 128, 128, 0.226);
  background-image: url("assets/icons8-link-50.png");
  background-size: 20px 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.input-area {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 80px; /* Adjust the grid template columns */
}

.input-area button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Example background color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #0056b3; /* Example hover background color */
}

.btn_img img {
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-left: 10px;
}
